p{
  margin: 0px;
}
.hdgName{
 text-align: center;  
}
.dspflxhd,.dspflxbd{
  display: flex;
  justify-content: space-between; 
}   

.tblhd,.dspflxhd{
  width: 90%;
  margin: 0px auto;
}
.dspflx-hrcntr{
  display: flex;
  justify-content: center;
}
.dspflx-hrcntr button,.userListActions button{
  color: #fff;
    background: #000;
    border: none;
    padding: 5px 19px;
    border-radius: 4px;
}
.isDisable{
  background: rgba(0,0,0,0.5) !important;
  color: rgba(0,0,0) !important;
}
.dspflx-hrcntr button{
  margin: 20px 20px;
}
.userListId,.userListAlbumId,.userListTitle,.userListImage,.userListActions{
 border: 1px solid rgba(0,0,0,0.5);
 padding: 5px;
 display: flex;
align-items: center;
justify-content: center;
} 
.userListId{
  width: 10%;
}
.userListAlbumId{
  width: 15%;
}
.userListTitle{
  width: 40%;
} 
.userListImage{
  width: 20%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userListActions{
  width:15%
}
.userListImage img{
   width: 50px;
   height: 50px;
}
.edit-txt{
  width: 89%;
} 